QPushButton {
background-color: grey;
font-size: 50px;
}

QPushButton#Division,
QPushButton#Multiplication,
QPushButton#Difference,
QPushButton#Sum {
background-color: orange;
}

QPushButton:pressed {
background-color: green
}

CalculatorWindow {
background-color: white;
}

QLineEdit {
font-size: 50px;
}

QMenuBar {
background-color: white;
}
